<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar navbar_content">
     <div class='navbar-inner gray'>
      <div class='left'>
         <a href='#' class='link back'>
            <i class='fa fa-angle-left' aria-hidden='true'></i>
         </a>
      </div>
      <div class='center sliding'  data-i18n='title.branches' >title.branches</div>
      <div class='right'>
      </div>
   </div>



</div>
<div class="pages">
    <div data-page="branches" class="page branches_page">
        <div class="page-content " id="">
            <div class="branches" id="branches">

            </div>
        </div>
    </div>
</div>
