<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar navbar_content">
   <div class='navbar-inner gray '>
      <div class='left'>
         <a href='#' class='link back'>
            <i class='fa fa-angle-left' aria-hidden='true'></i>
         </a>
      </div>
      <div class='center sliding' data-i18n='title.contact' >title.contact</div>
      <div class='right'>
      </div>


   </div>

</div>
<div class="pages">
   <div data-page="contact" class="them_a page">


      <div class="page-content" id="">

         <div class='fixed_bar gray_img_wrapp fixed_'><img src='images/contact_white_icon.png'></div>

         <div class="contact them_a_wrap text-center new_pd row" id="contact">

            <div class="text-center logo  row col-90">
               <img class='img-fluid' src="images/almanara_logo.png"/>
            </div>
            <ul class='list-block row col-90'>
               <li class='row col-100'>
                  <button class="link_btn" data-i18n='title.enquiry'> title.enquiry  </button>
               </li>
               <li class='row col-100'>
                  <button class="link_btn" data-i18n='title.complaint'>  title.complaint  </button>
               </li>

               <li class='row col-100'>
                  <a class="link_btn"  data-i18n='title.speak' href="templates/speakToUs.html"> title.speak  </a>
               </li>


            </ul>

            <div class="text-center logo  row col-90">

               <div class='click_to_attatch col-100'>
                  <input type='file' name='avatar' onchange='readURL1(this);' class="to_attatch"  accept='image/*;capture=camera'>

                  <img src='images/attatch_ico.png'/>
                  <p class='col-100'  data-i18n='title.request'> title.request</p>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>
