<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar navbar_content">
    <div class='navbar-inner static_nav gray'>
        <div class='left'>
            <a href='#' class='link back'>
                <i class='fa fa-angle-left' aria-hidden='true'></i>
            </a>
        </div>
        <div class='center sliding'  data-i18n='title.works' >title.works</div>
        <div class='right'>
        </div>
    </div>

</div>
<div class="pages">
    <div data-page="howitworks" class="them_1 page">
        <div class="page-content" id="">
            <div class="howitworks  new_pd row" id="howitworks">


            </div>
        </div>
    </div>
</div>
