<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->
<!-- Top Navbar-->
<div class="navbar navbar_content">
   <div class='navbar-inner gray '>
      <div class='left'>
         <a href='#' class='link back'>
            <i class='fa fa-angle-left' aria-hidden='true'></i>
         </a>
      </div>
      <div class='center sliding' data-i18n='title.speak' >title.speak</div>
      <div class='right'>
      </div>
   </div>
</div>
<div class="pages">
   <div data-page="speakToUs" class="them_a page">
      <div class="page-content" id="speakToUs">
         <div class='fixed_bar gray_img_wrapp fixed_'><img src='images/contact_white_icon.png'></div>
         <div class="contact them_a_wrap text-center new_pd row" >
            <div class="text-center logo  row col-90">
               <img class='img-fluid' src="images/almanara_logo.png"/>
            </div>
            <div class="speakToUs "></div>
         </div>
      </div>
   </div>
</div>
