<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar navbar_content d-none" >
   <div class='navbar-inner d-none'>
      <div class='left'>

      </div>
      <div class='center sliding'></div>
      <div class='right'>
      </div>


   </div>

</div>

<div class="pages">
  <div data-page="user_profile" class="page the_user_profile_page">
    <div class="page-content" id="">





    <div class=' profile_nav'>
      <div class='left'>
        <a href='#' class='link back'>
          <i class='fa fa-angle-left' aria-hidden='true'></i>
        </a>

      </div>
      <div class='center sliding'>
        <a class='save'   href='templates/edit_user_profile.html'    data-i18n='editProfile.edit'>  edit</a>

        <div class='user_profile_img'>
          <div class='img' style='background-image:url(images/test/profile_photo.png)'> </div>

        </div>

        <div class='u_data'>
          <div class='text_uppercase u_name'> </div>
          <div class='small u_email'></div>
        </div>

      </div>

    </div>






      <div class="user_profile  m_user_profile new_pd" id="user_profile">








      </div>
    </div>
  </div>
</div>
