<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar navbar_content">
    <div class='navbar-inner gray'>
        <div class='left'>
            <a href='#' class='link back'>
                <i class='fa fa-angle-left' aria-hidden='true'></i>
            </a>
        </div>
        <div class='center sliding' data-i18n='title.Vouchers'>title.Vouchers</div>
        <div class='right' data-i18n='title.myVouchers'>
            title.myVouchers
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="vouchers" class="them_2 page">
        <div class="page-content" id="">
            <div class="redeem_items vouchers new_pd row" id="vouchers">

            </div>
        </div>
    </div>
</div>
